.main-grid {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
